* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
}

body {
  background: #9999ff;
  padding: 20px;
}
.newspaper {
  max-width: 700px;
  margin-inline: auto;
  margin-top: 80px;
  background: #fff;
  padding: 60px 30px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 0 8px #0f0f0f;
}

.name {
  font-size: 2rem;
  font-family: "Times New Roman", serif;
  text-align: center;
  margin-top: 10px;
}
.name,
.author {
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.date {
  text-align: center;
  margin-top: 10px;
}
.headline {
  font-size: 2em;
  font-weight: bold;
  margin-top: 30px;
}

.sub-headline {
  font-weight: 100;
  font-size: 1.5em;
  font-style: italic;
  margin-top: 20px;
}

.author {
  font-weight: bold;
  margin-top: 10px;
}

.text {
  margin-top: 20px;
  text-indent: 20px;
  line-height: 2em;
}

.text::first-letter {
  font-size: 2em;
  font-weight: bold;
}
