* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --chimney-stone-color: #aaa;
}

body {
  background: linear-gradient(#aaaaff 55%, #00aa00 55% 100%);
  min-height: 100vh;
}

#house {
  position: relative;
  width: 500px;
  height: 400px;
  margin: 100px auto;
  background: #ff9966;
  border: 5px solid brown;
}

#chimney {
  position: absolute;
  width: 100px;
  height: 100px;
  background: linear-gradient(
    #000 2%,
    var(--chimney-stone-color) 2% 22%,
    #000 22% 24%,
    var(--chimney-stone-color) 24% 44%,
    #000 44% 46%,
    var(--chimney-stone-color) 46% 66%,
    #000 66% 68%,
    var(--chimney-stone-color) 68% 88%,
    #000 88% 90%,
    var(--chimney-stone-color) 90% 100%
  );
  border: 2px solid #000;
  top: -100px;
  right: 50px;
  z-index: -1;
}

#roof {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  background:
    repeating-linear-gradient(45deg, brown 2%, transparent 2% 5%, brown 5% 7%),
    repeating-linear-gradient(-45deg, brown 2%, transparent 2% 5%, brown 5% 7%);
}

#window-1,
#window-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 5px solid brown;
  top: 150px;
  left: 60px;
  background: linear-gradient(to right, yellow 47%, brown 47% 53%, yellow 54%);
}

#window-2 {
  left: 340px;
}

#door {
  position: absolute;
  width: 140px;
  height: 200px;
  bottom: -5px;
  left: 180px;
  background: white;
  border: 6px solid brown;
}

.knob {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: brown;
  top: 50%;
  left: 75%;
  transform: translateY(-50%);
}
