body {
  margin: 0;
  min-height: 100vh;
  padding: 1.2rem 0;
  font-family: sans-serif;
  background: linear-gradient(45deg, hsl(240, 100%, 90%), hsl(120, 100%, 90%));
}

.form-container {
  width: 70%;
  max-width: 350px;
  margin: 50px auto;
  padding: 2em 1.2em;
  box-shadow: 0 0 40px rgb(170, 170, 170);
  border-radius: 10px;
  background: #fafafa;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
}

label {
  display: block;
  font-size: 1.1rem;
  color: #044;
  margin-top: 1rem;
}

input,
textarea {
  width: 95%;
  display: block;
  margin: 0.3em auto;
  padding: 6px 0 6px 6px;
  font-size: 0.9rem;
  color: #00a1a1;
  border-radius: 4px;
  border: 1px solid #004545;
}

:where(input, textarea):focus {
  outline: 2px solid #009292;
}

button {
  margin: 1.3rem auto 0;
  font-size: 1.2rem;
  padding: 0.4em 1.4em;
  border-radius: 6px;
  border: 2px solid #089;
  background-color: #09a;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

button:hover {
  background-color: #045;
}
